<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-plugin-alipay"
	version="5.3.0">
    
	<name>Alipay</name>

	<js-module src="www/alipay.js" name="Alipay">
		<clobbers target="navigator.alipay" />
	</js-module>

	<platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="Alipay">
                <param name="ios-package" value="Alipay"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
		    <array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLIconFile</key>
					<string></string>
					<key>CFBundleURLName</key>
					<string>alipay</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string></string>
					</array>
				</dict>
			</array>
		</config-file>
        
		<config-file target="*-Info.plist" parent="CFBundleDevelopmentRegion">
				<string>Chian</string>
		</config-file>

		<config-file target="*-Info.plist" parent="NSAppTransportSecurity">
		    	<dict>
		    	<key>NSAllowsArbitraryLoads</key>
				<true />
			</dict>
		</config-file>
		
		<config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
			<array>
				<string>safepay</string>
				<string>alipay</string>
                <string>weixin</string>
			</array>
		</config-file>

        <!-- 支付 -->
		<header-file src="src/ios/Alipay.h" />
		<source-file src="src/ios/Alipay.m" />
		<header-file src="src/ios/Order.h" />
		<source-file src="src/ios/Order.m" />


		<!-- openssl -->
		<header-file src="src/ios/openssl/aes.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/asn1_mac.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/asn1.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/asn1t.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/bio.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/blowfish.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/bn.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/buffer.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/camellia.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/cast.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/cmac.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/cms.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/comp.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/conf_api.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/conf.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/crypto.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/des_old.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/des.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/dh.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/dsa.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/dso.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/dtls1.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/e_os2.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ebcdic.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ec.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ecdh.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ecdsa.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/engine.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/err.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/evp.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/hmac.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/idea.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/krb5_asn.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/kssl.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/lhash.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/md4.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/md5.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/mdc2.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/modes.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/obj_mac.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/objects.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ocsp.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/opensslconf.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/opensslv.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ossl_typ.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/pem.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/pem2.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/pkcs12.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/pkcs7.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/pqueue.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/rand.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/rc2.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/rc4.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ripemd.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/rsa.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/safestack.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/seed.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/sha.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/srp.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/srtp.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ssl.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ssl2.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ssl23.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ssl3.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/stack.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/symhacks.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/tls1.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ts.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/txt_db.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ui_compat.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/ui.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/whrlpool.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/x509_vfy.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/x509.h" target-dir="openssl"/>
		<header-file src="src/ios/openssl/x509v3.h" target-dir="openssl"/>

		<!-- Util -->
		<header-file src="src/ios/Util/base64.h" target-dir="Util"/>
		<source-file src="src/ios/Util/base64.m" target-dir="Util"/>
		<header-file src="src/ios/Util/config.h" target-dir="Util"/>
		<header-file src="src/ios/Util/NSDataEx.h" target-dir="Util"/>
		<source-file src="src/ios/Util/NSDataEx.m" target-dir="Util"/>
		<header-file src="src/ios/Util/openssl_wrapper.h" target-dir="Util"/>
		<source-file src="src/ios/Util/openssl_wrapper.m" target-dir="Util"/>
		<header-file src="src/ios/Util/RSADataSigner.h" target-dir="Util"/>
		<source-file src="src/ios/Util/RSADataSigner.m" target-dir="Util"/>
		<header-file src="src/ios/Util/RSADataVerifier.h" target-dir="Util"/>
		<source-file src="src/ios/Util/RSADataVerifier.m" target-dir="Util"/>

		<source-file src="src/ios/libcrypto.a" framework="true" />
		<source-file src="src/ios/libssl.a" framework="true" />

        <framework src="libsqlite3.0.tbd"/>
        <framework src="libz.1.2.5.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.0.9.tbd" />
        <framework src="AssetsLibrary.framework"/>
        <framework src="libz.tbd"/>
        <framework src="libc++.tbd"/>
        <framework src="CoreMotion.framework"/>
        <framework src="CoreText.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="UIKit.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="CFNetwork.framework"/>

        <resource-file src="src/ios/AlipaySDK.bundle"/>
        <framework src="src/ios/AlipaySDK.framework" custom="true" />
	</platform>
</plugin>
